.login{
align-items: center;
/* 
background: rgba(152, 102, 175, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(132, 70, 204, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgba(223, 174, 174, 0.57); */
    }
    .form{

           background:linear-gradient(to left,rgb(176, 209, 226),rgb(165, 224, 253)); 

    }