.message {
  display: flex;
  flex-direction: column;
}
.message_top {
  display: flex;
}
.message_bottom {
  font-size: small;
}
.message_text {
  padding: 1rem;
  margin: 1rem;
  background-color: beige;
  border-radius: 2rem;
  display: block;
  max-width: 20rem;
}

.message_img {
  margin-top: 1rem;
  font-size: small;
}

.own {
  align-items: flex-end;
}

.ownText {
  background-color: cornflowerblue;
}

.normalText {
  background-color: darkgoldenrod;
}
